@use "../Global_SCSS/variables" as v;

.title {
  color: white;
  font-family: title;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 76px;
}

.paragraph-container {
  background-color: v.$primary--color;
  box-shadow: inset 0px 3px 20px 0px #000000;
  border: 1px solid #707070;
  border-radius: 20px;
  p {
    font-size: 2rem;
    text-align: center;
    padding: 25px;
    color: white;
  }
  :first-child {
    margin-bottom: 20px;
  }
}

.kakapo-link {
  text-decoration: none;
  color: white;
}
// <----------MOBILE VERSION ---------->

@media (max-width: 550px) {
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}
