@use "./variables" as v;
@use "./animation";
// <--------------MIXINS------------------>
@mixin button-hover() {
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
// <--------------Homepage STARTS --------------->

.login-btn {
  @include button-hover();
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  padding: 10px 69px 10px 69px;
  margin-top: 50px;
  background-image: linear-gradient(#2f3260, #0a0c19);
  color: white;
  border-radius: 20px;
  text-transform: capitalize;
  border: 2px solid v.$primary--color;
  @media (max-width: 1750px) {
    font-size: 2rem;
  }
}
