@use "./variables" as v;
@use "./animation";
// <--------------MIXINS------------------>
@mixin button-hover() {
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

@mixin room-select-btn() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 3rem;
  text-transform: capitalize;
  border-radius: 20px;
  width: 90%;
  height: 110px;
  margin: 20px;
}

// <--------------Homepage STARTS --------------->

.login-btn {
  @include button-hover();
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  padding: 10px 69px 10px 69px;
  margin-top: 50px;
  background-image: linear-gradient(#2f3260, #0a0c19);
  color: white;
  border-radius: 20px;
  text-transform: capitalize;
  border: 2px solid v.$primary--color;
  @media (max-width: 1750px) {
    font-size: 2rem;
  }
}

// <--------------Homepage ENDS --------------->
// <---------------------SELECT PAGE STARTS ---------------->

.living-room-btn {
  background-image: url(/living-room.jpg);
  @include room-select-btn();
  @include button-hover();
  p {
    padding-top: 20px;
  }
}

.masterbr-room-btn {
  background-image: url(/masterbedroom.jpg);
  @include room-select-btn();
  @include button-hover();
  p {
    padding-top: 20px;
  }
}

.garage-room-btn {
  background-image: url(/garage.jpg);
  @include room-select-btn();
  @include button-hover();
  p {
    padding-top: 20px;
  }
}

.kitchen-room-btn {
  background-image: url(/kitchen.jpg);
  @include room-select-btn();
  @include button-hover();
  p {
    padding-top: 20px;
  }
}

.br-room-btn {
  background-image: url(/bedroom.jpg);
  @include room-select-btn();
  @include button-hover();
  p {
    padding-top: 20px;
  }
}

.hallway-room-btn {
  background-image: url(/hallway.jpg);
  @include room-select-btn();
  @include button-hover();
  p {
    padding-top: 20px;
  }
}

.overlay {
  background-color: rgba(128, 128, 128, 0.5);
  width: 103%;
  height: 108px;
  border-radius: 20px;
  transform: translateY(-2px) translateX(-10px);
}

p {
  opacity: 1;
}
