@use "./variables" as v;
@use "./animation";
// <--------------Homepage STARTS --------------->

.sony-logo-img {
  width: 60%;
  margin-bottom: 50px;
  display: block;
  margin: 0 auto;
}

.home-icon {
  display: block;
  margin: 43px 172px 50px 172px;
  @media (max-width: 1750px) {
    width: 450px;
  }
}

// <--------------Homepage ENDS --------------->
// <---------------------SELECT PAGE STARTS ---------------->

.sony-logo-img-select-page {
  margin: 0 auto;
}

.home-icon-select-screen {
  margin: 0 auto;
  padding-left: 20px;
  margin-bottom: 30px;
}
