@use "./variables" as v;
@use "./animation";
// <--------------Homepage STARTS --------------->

.sony-logo-img {
  width: 60%;
  margin-bottom: 50px;
  display: block;
  margin: 0 auto;
}

.logo-icon {
  display: block;
  margin: 43px 172px 50px 172px;
  @media (max-width: 1750px) {
    width: 450px;
  }
}

// <--------------Homepage ENDS --------------->
// <---------------------SELECT PAGE STARTS ---------------->

.sony-logo-img-select-page {
  margin: 0 auto;
}

.home-icon-select-screen {
  margin: 0 auto;
  padding-left: 20px;
  margin-bottom: 30px;
}
// <---------------------SELECT PAGE ENDS ---------------->
// <-------------------LIVINGROOM SECTION STARTS------------------------------->

.livingrm-banner {
  display: block;
  width: 80%;
  margin: 0 auto;
}
// <-------------------LIVINGROOM SECTION ENDS------------------------------->

.audio-right-side img {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 10px;
}

// <-------------------LIVINGROOM (audio) STARTS------------------------------->
// <------------------LIVINGROOM AUDIO ENDS ----------->
// <------------------REFRIGERATOR STARTS----------->
.refrigerator-setting-section {
  img {
    width: 20%;
    height: 186px;
    object-fit: cover;
    border-radius: 20px;
  }
}
