@use "./variables" as v;
@use "./animation";
// <--------------Homepage STARTS --------------->

.sony-logo-img {
  width: 60%;
  margin-bottom: 50px;
  display: block;
  margin: 0 auto;
}

.home-icon {
  display: block;
  margin: 43px 172px 50px 172px;
  @media (max-width: 1750px) {
    width: 450px;
  }
}
