@use "./variables" as v;
@use "./animation";
// <--------------Homepage STARTS --------------->

.global-wrapper {
  max-width: v.$web-site-width;
  margin: 0 auto;
  width: 99%;
  border: 2px solid green;
}

.grid {
  display: grid;
}

.columns-3-6-3 {
  grid-template-columns: 3fr 6fr 3fr;
}

.login-wrapper {
  background-color: #313131;
  border-radius: 50%;
  padding-bottom: 50px;
  width: 70%;
  margin: 0 auto;
  .logo-wrapper {
    display: flex;
    justify-content: center;
  }
}

// <--------------Homepage ENDS --------------->

.top {
  background-color: blue;
}
