@use "./variables" as v;
@use "./animation";
// <--------------MIXINS------------------>
@mixin button-hover() {
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

@mixin room-select-btn() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 3rem;
  text-transform: capitalize;
  border-radius: 20px;
  width: 90%;
  height: 110px;
  margin: 20px;
}

@mixin box-decoration() {
  border-radius: 20px;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid v.$primary--color;
}

@mixin background-section() {
  background-color: v.$primary--color;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
}
// <--------------Homepage STARTS --------------->

.global-wrapper {
  max-width: v.$web-site-width;
  margin: 0 auto;
  width: 99%;
  height: 80vh;
}

.columns-3-6-3 {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
}

.login-wrapper {
  background-color: #313131;
  border-radius: 50%;
  padding-bottom: 50px;
  width: 70%;
  margin: 0 auto;
  .logo-wrapper {
    display: flex;
    justify-content: center;
  }
}

// <--------------Homepage ENDS --------------->
// <---------------------SELECT PAGE STARTS ---------------->

.top {
  display: grid;
}

.col-6 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 90%;
  margin: 0 auto;
  .right-side {
    text-align: center;
  }
  .left-side {
    text-align: center;
  }
}
// <---------------------SELECT PAGE ENDS ---------------->
// <-------------------LIVINGROOM SECTION STARTS------------------------------->

.range-slider-wrapper {
  display: flex;
  justify-content: center;
}

.top-banner {
  margin-bottom: 10px;
}

.ac-temp-numbers {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
}

.selection-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  box-icon {
    margin-left: 40%;
  }
  a {
    width: 100%;
  }
}
// <-------------------LIVINGROOM SECTION ENDS------------------------------->
// <-------------------------LIVINGROOM(CAM) STARTS ---------------------->
.camera-section {
  @include background-section();
}

.camera-top-section {
  display: flex;
  .heading-text {
    margin: 0px 20px 20px 20px;
  }
  h1 {
    display: inline;
    text-transform: capitalize;
  }
}

.camera-interface-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr;
    img {
      display: block;
      margin: 0 auto;
      width: 80%;
    }
  }
}

.cam-controls {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  @media (max-width: 1200px) {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    box-icon {
      margin-left: 20px;
    }
  }
}

// <-------------------------LIVINGROOM(TELEVISION) STARTS ---------------------->
.television-interface-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr;
  }
}
// <-------------------------LIVINGROOM(TELEVISION) ENDS ---------------------->
// <------------------LIVINGROOM AUDIO BEGINS ----------->
.audio-section {
  @include background-section();
}

.audio-playlist-section {
  p {
    text-align: center;
  }
}
// <------------------LIVINGROOM AUDIO ENDS ----------->
// <------------------CEILING FAN BEGINS ----------->
.ceiling-fan-section {
  @include background-section();
}

.ceiling-fan-top {
  display: flex;
  justify-content: space-evenly;
}

.ceiling-fan-dial {
  width: 30%;
  span {
    margin: 10%;
  }
}
