@use "./variables" as v;
// <----------mixins-------------->
@mixin box-decoration() {
  border-radius: 20px;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid v.$primary--color;
}

.border {
  border: 2px solid green;
}

// <--------------Homepage STARTS --------------->

.title {
  font-size: 5rem;
  font-family: title;
  text-align: center;
  @media (max-width: 1750px) {
    font-size: 3rem;
  }
}

.kakapo-wrapper {
  @include box-decoration();
  background-color: v.$primary--color;
  margin-top: 65px !important;
  padding: 0px 100px 10px 100px;
  margin: 0 auto;
  p:first-child {
    font-size: 2rem;
    text-align: center;
    padding: 20px 20px 20px 20px;
  }
  p:nth-child(2) {
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
  }
  .link {
    text-decoration: none;
    color: white;
  }
  @media (max-width: 1750px) {
    margin-top: 200px;
    width: 80%;
  }
}

// <--------------Homepage ENDS --------------->
// <---------------------SELECT PAGE STARTS ---------------->

.title-select-page {
  font-family: title;
  text-align: center;
  font-size: 5rem;
}

// <-------------------LIVINGROOM SECTION STARTS------------------------------->

.selection-btn-container {
  h1 {
    text-align: center;
    text-transform: capitalize;
    padding: 20px 0px 10px 0px;
    font-size: 1.5rem;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}

// <-------------------LIVINGROOM SECTION ENDS------------------------------->
// <---------LIVINROOM TELEVISION STARTS ------->

.television-info {
  p:first-child {
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  p:nth-child(2) {
    font-size: 2rem;
    text-transform: capitalize;
  }
  p:nth-child(3) {
    font-size: 1rem;
  }
}
// <---------LIVINROOM TELEVISION ENDS ------->
// <------------------LIVINGROOM AUDIO BEGINS ----------->
@mixin audio-properties {
  text-transform: capitalize;
  padding: 5px;
}

.audio-right-side p {
  @include audio-properties();
  text-align: center;
  font-size: 1rem;
}

.audio-left-side p {
  @include audio-properties();
}

.audio-left-side {
  p:first-child {
    font-size: 2rem;
  }
}
// <------------------LIVINGROOM AUDIO ENDS ----------->
// <------------------CEILING FAN BEGINS ----------->

.ceiling-fan-left {
  h1 {
    text-align: center;
    text-transform: capitalize;
    padding: 20px 0px 10px 0px;
    font-size: 1.5rem;
  }
}

// <------------------CEILING FAN   ENDS ----------->
// <------------------BLINDS BEGINS ----------->

.blinds-first-line {
  h1 {
    text-transform: capitalize;
  }
}

.blinds-section {
  h1 {
    text-transform: capitalize;
  }
}

.windows-locked-status {
  p {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #af5d57;
  }
}

// <------------------BLINDS END ----------->
// <------------------SMOKE DETECTOR BEGINS ----------->
.smoke-detector-section {
  h1 {
    text-transform: capitalize;
    padding: 20px 0px 10px 0px;
    font-size: 1.5rem;
    margin-left: 25px;
  }
}
// <------------------SMOKE DETECTOR ENDS ----------->
// <------------------OVEN BEGINS ----------->

.oven-top-section {
  h1 {
    text-transform: capitalize;
    font-size: 2.5rem;
    margin-left: 25px;
    margin-top: 7px;
  }
  span {
    font-size: 1.5rem;
  }
}

.oven-top-middle-section {
  font-size: 2rem;
  text-transform: capitalize;
}

.oven-bottom-middle-section {
  span {
    font-size: 1.5rem;
  }
}

.oven-bottom-section {
  p {
    font-size: 1.5rem;
    margin-right: 10px;
  }
  div:nth-child(1) {
    p:nth-child(1) {
      text-transform: capitalize;
    }
    p:nth-of-type(2) {
      color: #af5d57;
      text-transform: capitalize;
    }
  }
  div:nth-child(2) {
    transform: translateX(-80%);
    span {
      text-transform: capitalize;
    }
  }
}
// <------------------OVEN ENDS ----------->
// <------------------REFRIGERATOR BEGINS ----------->
.refrigerator-top-section {
  h1 {
    text-transform: capitalize;
  }
}

.refrigerator-album {
  text-transform: capitalize;
  margin: 20px 0px;
}

.freezer-top-section {
  h1 {
    text-transform: capitalize;
  }
}
